body {
    padding-top: 0%;
    padding-left: 180px;
    background-color: #4A78AD;
}

.menu1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 1280px;
    background-color: #3C6592;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.upper {
    margin: 6px;
    color: white;
}

.bannerbild {
    display: flex;
    justify-content: space-between;
}

.banner {
    display: flex;
    justify-content: space-between;
    background-image: url("banner.png");
    height: 90px;
    width: 380px;
}

.wheater {
    background-image: url("wheater.png");
    height: 90px;
    width: 380px;
}

.menu2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 1280px;
    background-color: #3C6592;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.lower {
    margin: 10px;
    color: white;
}

.lowerbild {
    background-image: url("news.png");
    height: 510px;
    width: 1280px;
}

.lowerclass {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 1280px;
    background-color: #517DB0;
    display: inline;
    height: 500px;
    width: 1280px;
}

.lowertext {
    padding-top: 20px;
    padding-left: 230px;
}

.lowerleft {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 150px;
}